var ImageSelector = React.createClass({

	getInitialState: function(){
		return{
			imgState:  "<%= image_path('Trump1.jpg') %>"
		}
	},

	_draw: function(){
		var draw = function(){
			ctx.drawImage(objectImg, 100, 100);
		}
	 	var can = this.refs.canvas;
	    var ctx = can.getContext('2d');

		var objectImg = new Image();
		var imgPath = this.state.imgState;
		objectImg.src = imgPath
		console.log('drawing ' + imgPath)

		objectImg.onload = function(){
			draw();
			console.log('draw shti')
		}
	},

	componentDidUpdate: function(){
		this._draw()
	},
	componentDidMount: function(){
		this._draw()
	},

	_changePicState: function(imageLink){
		this.setState({imgState: imageLink})
	},

	_getThumbnails: function(){
		const thumbnailList = [
		{id: 1, imageLink: "<%= image_path('Trump1.jpg') %>"},
		{id: 2, imageLink: "<%= image_path('Trump3.jpg') %>"},
		{id: 3, imageLink: "<%= image_path('Trump7.jpg') %>"},
		]

		return thumbnailList.map((e) => {
			return (
				<ImageThumbnail key={e.id} imageLink={e.imageLink} onClick={this._changePicState}/>
				)
		});
	},

	render: function() {
	const thumbnails = this._getThumbnails()

	return (
		<div>
		{thumbnails}
		<canvas ref='canvas' width={867} height={600}/>
		</div>

	)
	}

});

var ImageThumbnail = React.createClass({

	_runPropFunc: function(){
		this.props.onClick(this.props.imageLink)
	},

	render: function(){
		return (
			<img key={this.props.id} src={this.props.imageLink} className="thumbnail" onClick={this._runPropFunc} />
			)
	}
})