var QuoteTemplate3 = React.createClass({

	_copyToImage: function(){
		var can = this.refs.canvas;
		var dataURL = can.toDataURL();

		var canvasImg = this.refs.canvasImage
		canvasImg.src = dataURL
	},

	_draw: function(callback){

		var draw = function(){

			context.drawImage(objectImg, 0, 0);
		}

		var wrapText =  function(context, text) {
		    var words = text.split(' ');
		    var line = '';
	        var x = 50
	        var y = 154
	        var maxWidth = 760
	        var lineHeight = 34

		    for(var n = 0; n < words.length; n++) {
		      var testLine = line + words[n] + ' ';
		      var metrics = context.measureText(testLine);
		      var testWidth = metrics.width;
		      if (testWidth > maxWidth && n > 0) {
		        context.fillText(line, x, y);
		        line = words[n] + ' ';
		        y += lineHeight;

		      }
		      else {
		        line = testLine;
		      }
		    }
		    context.fillText(line, x, y);

		}

		var can = this.refs.canvas;
		var context = can.getContext('2d');
		var textInput = this.props.textInput;
		var text = "Figures Crooked Hilary deleted all of her emails about " + textInput +"."
		
		// context.font = '28px Helvetica';
		context.font = '28px Helvetica Neue';
		context.fillStyle = "#29f33";

		var objectImg = new Image();
		var imgPath = "<%= image_path('Trump7.jpg') %>";
		objectImg.src = imgPath

		objectImg.onload = function(){
			draw();
			wrapText(context, text);

			callback()
		}
	},

	componentDidUpdate: function(){
		this._draw(this._copyToImage)
	},

	componentDidMount: function(){
		this._draw(this._copyToImage)
	},

  	render: function() {
    return (
    	<div className="canvas-container">
	    	<div>
			<canvas ref='canvas' width={867} height={505}/>
			<img ref='canvasImage' id="mirror" style={{"height":"505px", "width":"867px"}} className="canvasImg" />
			</div>
		</div>
    );
  }
});
