var QuoteTemplate4 = React.createClass({
	_draw: function(){

		var draw = function(){

			context.font = "33px Sans Serif";
			context.fillStyle = "#ffffff";
			context.drawImage(objectImg, 0, 0);
		}

		var wrapText =  function(context, text) {
		    var words = text.split(' ');
		    var line = '';
	        var x = 90
	        var y = 208
	        var maxWidth = 520
	        var lineHeight = 35

		    for(var n = 0; n < words.length; n++) {
		      var testLine = line + words[n] + ' ';
		      var metrics = context.measureText(testLine);
		      var testWidth = metrics.width;
		      if (testWidth > maxWidth && n > 0) {
		        context.fillText(line, x, y);
		        line = words[n] + ' ';
		        y += lineHeight;
		      }
		      else {
		        line = testLine;
		      }
		    }
		    context.fillText(line, x, y);
		}

		var can = this.refs.canvas;
		var context = can.getContext('2d');
		var textInput = this.props.textInput;
		var text = "Donald J. Trump is calling for a total and complete shutdown of "+ textInput + " until our country's representatives can figure out what is going on."

		    context.shadowColor = "#000000"
	        context.shadowOffsetX = 2;
	        context.shadowOffsetY = 2;
	        context.shadowBlur = 2;

		var quotation = new Image();
    	quotation.src = "<%= image_path('quotationmark.png')%>"
		var objectImg = new Image();
		var imgPath = "<%= image_path('Trump2.jpg') %>";
		objectImg.src = imgPath

		objectImg.onload = function(){
			draw();
			wrapText(context, text);
			context.drawImage(quotation, 10, 160)

		}

		quotation.onload = function(){
			context.drawImage(quotation, 10, 150)

		}
	},

	componentDidUpdate: function(){
		this._draw()
	},

	componentDidMount: function(){
		this._draw()
	},

  	render: function() {
    return (
    	<div className="canvas-container">
	    	<div>
			<canvas ref='canvas' width={620} height={350}/>
			</div>
		</div>
    );
  }
});
