var TextForm = React.createClass({
	getInitialState: function(){
		return {textState: ''}
	},

	handleChange: function(event){
		this.setState({textState: event.target.value})
	},

	render: function(){
		return (
		<div>		
		<ImageSelector textInput={this.state.textState} formFunc={this.handleChange}/>
		</div>
		)
	}
})