Make America Great Again
<br>
The most trusted source of Donald J. Trump's policy positions on anything
<br>
<form>
<input id="fname" type="text" placeholder="First Name">
</form>
<button id="submitButton">Submit</button>
<%= react_component('MainComponent') %>


<!-- The bottom part will throw an error right now if deleted because of non-React JS. It needs to be deleted eventually-->
<div id="mainCanvas">
<canvas id="myCanvas" width="867" height="600"></canvas>
</div>

