Make America Great Again

<form>
<%= @Trump1.description %>
<input id="fname" type="text" placeholder="First Name">
</form>
<button id="submitButton">Submit</button>
<div id="photo">
<%#= image_tag(@Trump1.image) %>
</div>

<canvas id="myCanvas" width="867" height="600"></canvas>

<script>

</script>