// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*@font-face {
	font-family: "Arimo";
    src: url(https://fonts.googleapis.com/css?family=Arimo)
}*/

body {
	background-color: #2b325f;
}

#mirror {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 867px;

    border-radius: 2px;

    img{
    	z-index: 4;
    }

}
canvas{
    display: none;
}
#mirror {
    display: block;
}

.canvas-container {
    left: 0;
    right: 0;
    z-index: -2;
    position: absolute;
    padding-top: 120px;
    padding-bottom: 15px;

    background-color: #110e19; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(180deg, #110e19 , #2b325f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #110e19 , #2b325f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #110e19 , #2b325f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-180deg, #110e19 , #2b325f); /* Standard syntax */

/*    img {
        border: 2px solid red;
        left: 0;
        right: 0;
        position: absolute;
        padding-bottom: 15px;
    }*/
}

.thumbnail {
    width: 140px;
    height: 80px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;

    border-radius: 10px;

}

.thumbnail:hover{
    cursor: pointer;
}

.input-container{
    padding-left: 50px;
    float: left;
}

.thumbnail-row {

    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: 15px;

    background: #9c0207; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #9c0207 , #820408); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #9c0207, #820408); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #9c0207, #820408); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #9c0207 , #820408); /* Standard syntax */

    .input-container {
        float: left;
    }

    img {
        height: 78px;
        width: auto;
    }

    #logo{
        height: 60px;
    }

    input {
        height: 16px;
        width: 177.69px;
        font-size: 14px;
        color: #2b325f;
        margin-left: -8px;
        border-radius: 2px;
    }

    input::-webkit-input-placeholder {
    color: #2b325f;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
    color: #2b325f;  
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
    color: #2b325f;  
    }
     
    input:-ms-input-placeholder {  
    color: #2b325f;  
    }
}

.thumbnail-list {
    width: 576px;
    height: 80px;

    float: right;

}

@media all and (max-width: 800px){

    .thumbnail {

        padding-left: 2px;
        padding-right: 2px;
        padding-top: 5px;

        border-radius: 10px;
    }

    .thumbnail-row{
        height: 175px;

        img {
            height: 78px;
            width: auto;
        }
    }

/*    #logo{
        padding-left: 120px;
    }*/
    .input-container{
        clear: both;
        margin-left: 135px;
    }
    .thumbnail-list {
    float: left;
    }

    .canvas-container {
        padding-top: 200px;
    }


}